<!DOCTYPE html><!--
	Copyright (c) 2014-2022, CKSource Holding sp. z o.o. All rights reserved.
	This file is licensed under the terms of the MIT License (see LICENSE.md).
-->

<html lang="en" dir="ltr">
	<head>
		<title>Reconnect - writing-tool</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body data-editor="ClassicEditor" data-collaboration="false" data-revision-history="false">
		<header>
			<div class="centered">
				<h1><a href="#" target="_blank" rel="noopener noreferrer">Reconnect writing tool</a></h1>
				<nav>
					<ul>
						<li><a href="#" target="_blank" rel="noopener noreferrer"></a></li>
						<li><a href="#" target="_blank" rel="noopener noreferrer"></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<div id="target">Loading...</div>
			<script id="template" type="x-tmpl-mustache">
			  Hello {{ name }}!
			</script>
			<div class="message">
				<div class="centered">
					<h2>Article editor</h2>
				</div>
			</div>
			<div class="centered">
				<div class="row row-editor">
					<div class="editor-container">
						<div class="editor">
							
					</div>
				</div></div>
			</div>
			<div class="submit"><button class="test-ipc">Test IPC Ping pong</button></div>
			<div class="submit"><button class="add-user">Add test user</button></div>
			<div class="submit"><button class="read-all">Read All</button></div>
			<div class="submit"><button class="remove-user">Remove test user</button></div>
		</main>
		<footer>
			<p><a href="#" target="_blank" rel="noopener">Reconnect</a>
				– writing tool
			</p>
			<p>
				La Villa Hermosa
			</p>
		</footer>

		<script src="src/renderer.js"></script>
		<script src="ckeditor/build/ckeditor.js"></script>
		<script>
			const watchdog = new CKSource.EditorWatchdog();
			
			window.watchdog = watchdog;
			
			watchdog.setCreator( ( element, config ) => {
				return CKSource.Editor
					.create( element, config )
					.then( editor => {
						
						
						
			
						return editor;
					} )
			} );
			
			watchdog.setDestructor( editor => {
				
				
			
				return editor.destroy();
			} );
			
			watchdog.on( 'error', handleError );
			
			watchdog
				.create( document.querySelector( '.editor' ), {
					
					licenseKey: '',
					
				} )
				.catch( handleError );
			
			function handleError( error ) {
				console.error( 'Oops, something went wrong!' );
				console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
				console.warn( 'Build id: lqs86xn0aegf-edsbhozaj5q5' );
				console.error( error );
			}
			
		</script>
	</body>
</html>